body{
    margin: 100px;
}
header{
   background: #e5e7c8;
   padding: 10px;
   text-align: center;
   font-style: italic;
   font-size: x-large;
}
.input{
   background: #797975; 
   padding: 10px;
   text-align: center;
   margin-left: 200px;
    margin-right: 200px;
}
.input > input{
    padding: 10px;
}
#output-div{
    text-align: center;
    background: beige;
    padding: 10px;
    border: 1px solid black;
    
    margin-left: 200px;
    margin-right: 200px;
}
#operations{
    background: #af9797;
    margin: 10px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    -ms-flex-align: b;
    justify-content: center;
    padding: 10px;
}
#operations > button{
    padding: 10px;
    margin: auto;
}

/* @media (max-width: 768px) {
  .box1 {
    margin: 2rem;
    border: 1px solid black;
    padding-left: 2rem;
    width: 45%;
  }
}
@media (max-width: 480px) {
  .box1 {
    margin: 2rem;
    border: 1px solid black;
    padding-left: 2rem;
    width: 90%;
  } */